.loader-6, .loader-6:before, .loader-6:after {
	border-radius: 100%;
}

.loader-6 {
	color: #ffffff;
	font-size: 11px;
	margin: 25px auto;
	width: 15em;
	height: 15em;
	position: relative;
	transform: translateZ(0);
}

.loader-6:before, .loader-6:after {
	position: absolute;
	content: '';
}

.loader-6:before {
	width: 5em;
	height: 5em;
	background: #c3c3c3;
	animation: loader-6 1s infinite ease;
	transform-origin: 2.5em 2.5em;
	left: 5em;
	top: 5em;
}

@keyframes loader-6 {
	0% {
		transform: scale(0.125);
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}
