.loader-7 {
	color: #ffffff;
	font-size: 11px;
	margin: 25px auto;
	width: 15em;
	height: 15em;
	position: relative;
	transform: translateZ(0);
}

.loader-7 div {
	display: inline-block;
	content: '';
	margin: 0 3em 0 0;
}

.loader-7 div:before, .loader-7 div:after {
	position: absolute;
	content: '';
}

.loader-7 div:before {
	content: '';
	border-radius: 50%;
	width: 3em;
	height: 3em;
	background: #888;
	animation: loader-7 0.9s infinite ease;
	top: 6em;
}

.loader-7 .one:before {
	animation: loader-7 0.9s infinite ease;
}

.loader-7 .two:before {
	animation: loader-7 1s infinite ease;
}

.loader-7 .three:before {
	animation: loader-7 1.1s infinite ease;
}

@keyframes loader-7 {
	0% {
		transform: scale(0.125);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
