.loader-5 {
	color: #ffffff;
	font-size: 11px;
	margin: 25px auto;
	width: 15em;
	height: 15em;
	position: relative;
	transform: translateZ(0);
}

.loader-5:before, .loader-5:after {
	position: absolute;
	content: '';
}

.loader-5:before {
	width: 10em;
	height: 10em;
	background: #c3c3c3;
	transform-origin: 5em 5em;
	animation: loader-5 2s infinite ease;
	left: 2.5em;
	top: 2.5em;
}

@keyframes loader-5 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg) scale(0.125);
	}
	100% {
		transform: rotate(360deg);
	}
}
