.loader-1, .loader-1:before, .loader-1:after {
	border-radius: 50%;
}

.loader-1 {
	color: #ffffff;
	font-size: 11px;
	margin: 25px auto;
	width: 15em;
	height: 15em;
	position: relative;
	transform: translateZ(0);
}

.loader-1:before, .loader-1:after {
	position: absolute;
	content: '';
}

.loader-1:before {
	width: 5em;
	height: 10em;
	background: #c3c3c3;
	border-radius: 10em 0 0 10em;
	transform-origin: 5em 5em;
	animation: loader-1 2s infinite ease;
	left: 2.49em;
	top: 2.5em;
}

.loader-1:after {
	width: 5em;
	height: 10em;
	background: #ddd;
	border-radius: 0 10em 10em 0;
	transform-origin: 0 5em;
	animation: loader-1 2s infinite ease;
	right: 2.51em;
	top: 2.5em;
}

@keyframes loader-1 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
