.loader-3, .loader-3:before, .loader-3:after {
	border-radius: 50%;
}

.loader-3 {
	color: #ffffff;
	font-size: 11px;
	margin: 25px auto;
	width: 15em;
	height: 15em;
	position: relative;
	transform: translateZ(0);
}

.loader-3:before, .loader-3:after {
	position: absolute;
	content: '';
}

.loader-3:before {
	width: 5em;
	height: 10em;
	border-top: 3px solid #c3c3c3;
	border-radius: 10em 0 0 10em;
	transform-origin: 5em 5em;
	animation: loader-3 1s infinite ease;
	left: 2.49em;
	top: 2.5em;
}

.loader-3:after {
	width: 5em;
	height: 10em;
	border-top: px solid #ddd;
	border-radius: 0 10em 10em 0;
	transform-origin: 0 5em;
	animation: loader-3 1s infinite ease;
	right: 2.51em;
	top: 2.5em;
}

@keyframes loader-3 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
