.loader-4, .loader-4:before, .loader-4:after {
	border-radius: 50%;
}

.loader-4 {
	color: #ffffff;
	font-size: 11px;
	margin: 25px auto;
	width: 15em;
	height: 15em;
	position: relative;
	transform: translateZ(0);
}

.loader-4:before, .loader-4:after {
	position: absolute;
	content: '';
}

.loader-4:before {
	position: absolute;
	content: '';
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background-color: #ddd;
	animation: loader-4 500ms alternate infinite ease;
	left: 4.75em;
}

@keyframes loader-4 {
	0% {
		top: 5em;
		height: 4em;
		border-radius: 5em 5em 5em 5em;
		transform: scaleX(1.3);
	}
	35% {
		height: 5em;
		border-radius: 50%;
		transform: scaleX(1);
	}
	100% {
		top: 0;
	}
}