body {
	font-family: sans-serif;
	background-color: #fbfbfb;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

.wrapper {
	margin: 3% auto;
	text-align: center;
	width: 50%;
}

.wrapper h2 {
	margin: 0 0 5%;
}